/* stylesheet for Admin Dashboard */

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    font-size: 24px;
    --font-family: 'Quicksand', sans-serif;
    --font-bold: 700;
    --font-reg: 400;


    /* default color vars (light) */
    --bg-color: #d1d5db;
    --comp-color: #f9fafb;
    --contrast-color: #f59e0b;
    --alt-contrast-color: rgb(36, 117, 117);
    --button-hover: #b4760c;
    --text-color: #000000;
    --subtext-color: #6b7280;
    --alt-text-color: #f9fafb;
    --fake-profile: rgb(247, 206, 173);
    color: var(--text-color);

}

html[data-theme="dark"] {
    --bg-color: #4b5563;
    --comp-color: #1f2937;
    --contrast-color: #1a1000;
    --alt-contrast-color: rgb(36, 117, 117);
    --button-hover: #312b22;
    --text-color: #bebebe;
    --subtext-color: #acacac;
    --alt-text-color: #98b5d1;
    --fake-profile: rgb(140, 141, 150);
    color: var(--text-color);
}

html[data-theme="light"] {
    /* paste in final colors from :root */
    --bg-color: #d1d5db;
    --comp-color: #f9fafb;
    --contrast-color: #f59e0b;
    --alt-contrast-color: rgb(36, 117, 117);
    --button-hover: #b4760c;
    --text-color: #374151;
    --subtext-color: #6b7280;
    --alt-text-color: #f9fafb;
    --fake-profile: rgb(247, 206, 173);
    color: var(--text-color);
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
}

/* icon styling*/
svg {
    fill: var(--alt-text-color);
}

.header-icon,
.tile-icon {
    fill: var(--text-color);
}

.pp-default,
.pp-default-thumbnail,
.fake-profile-pic {
    background-color: var(--fake-profile);
    border-radius: 50%;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

.sidebar {
    /* color settings */
    background-color: var(--contrast-color);
    color: var(--alt-text-color);
    font-weight: var(--font-bold);
    /* grid placement */
    grid-column: 1/2;
    grid-row: 1/3;
    /* internals */
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 5%;
    padding: 32px;

}

.menu,
.settings {
    display: grid;
    grid-template-columns: 36px 3fr;
    grid-auto-rows: 36px;
    align-items: center;
    gap: 16px;

}

#theme-slider {
    font-size: .75rem;
}

.header-container {
    /* color settings */
    background-color: var(--comp-color);
    font-weight: var(--font-bold);
    /* internals */
    padding: 16px 32px;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.notifications-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 32px;
}

.notifications-left {
    display: grid;
    grid-template-columns: 36px auto;
    gap: 32px;
}

input {
    background-color: var(--bg-color);
    border: none;
    border-radius: 8px;
}

.pp-default-thumbnail {
    width: 36px;
}

.notifications-right {
    justify-self: right;
    align-items: center;
    display: grid;
    grid-template-columns: 36px 36px 1fr;
    gap: 16px;

}

.toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 32px;
}

.toolbar-left {
    display: grid;
    grid-template-columns: 75px 3fr;
    gap: 36px;
    align-items: center;
}

.toolbar-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.pp-default {
    width: 75px;
}

.greeting {
    font-size: .75rem;
}

.greeting #name {
    font-size: 1rem;
}

button {
    font-family: var(--font-family);
    font-size: .75rem;
    font-weight: var(--font-bold);
    background-color: var(--contrast-color);
    color: var(--alt-text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: var(--button-hover);
}

.body-container {
    /* color settings */
    background-color: var(--bg-color);
    grid-column: 2/3;
    padding: 32px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 32px;
}

.body-header {
    font-size: 1rem;
    font-weight: var(--font-bold);
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 32px;
}

.tile {
    background-color: var(--comp-color);
    border-radius: 16px;
    border: 16px solid var(--alt-contrast-color);
    border-style: none none none solid;
    padding: 16px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.tile-header {
    align-self: end;
    font-weight: var(--font-bold);
    font-size: .8rem;
}

.tile-content {
    font-size: .75rem;
    color: var(--subtext-color);
}

.tile-icons {
    display: grid;
    grid-template-columns: repeat(3,32px);
    align-items: end;
    justify-content: right;
    gap: 16px;
}

.site-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.tiles-area,
.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
}

.tile-side {
    background-color: var(--comp-color);
    border-radius: 16px;
    padding: 16px;
    display: grid;
    gap: 8px;
}

.tile-side #announcement-tile {
    grid-template-rows: repeat(3, auto);
}

.tile-side #trending-tile {
    grid-template-rows: repeat(4, auto);
}

.announcement-header {
    font-size: .75rem;
    font-weight: var(--font-bold);
}

.announcement-content {
    font-size: .6rem;
    color: var(--subtext-color);
}

.fake-project-info {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 8px;
    align-items: center;
}

.fake-profile-pic {
    width: 32px;
}

.fake-at {
    font-size: .8rem;
    font-weight: var(--font-bold);
}

.fake-project {
    font-size: .7rem;
    color: var(--subtext-color);
}

/* dark-mode switch */
/* The switch - the box around the slider */
#theme-slider {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}